:root{
    --navy: #000080;
}

body{
    margin: 2px;
    padding: 2px;
    color: var(--navy);
    font-family: 'Times New Roman', Times, serif;
}

*{
    box-sizing: border-box;
}

h1{
    font-size: large;
    text-transform: uppercase;
}

.container{
    padding: 30px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000080;
    font-size: 100px;
}

button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #000080;
    color: antiquewhite;
    font-size: 16px;
    transition: 100ms transform;

}

button:hover{
    cursor: pointer;
    transform: translateY(-2px);
}